<div class="grid-x project-footer">
    <div class="cell large-12">
      <footer class="footer">
        <div class="grid-x">
          <div class="cell medium-10 medium-offset-1">
            <div class="grid-x footer-head">
              <div class="cell medium-5">
                <div class="footer-logo">
                  <a>
                    <img
                      src="https://design.undp.org/static/media/undp-logo-white.36e69590.svg"
                      alt="UNDP Logo"
                    />
                  </a>
                  <h5 class="" tabindex="0" data-viewport="false">
                    United Nations
                    <br />
                    Development Programme
                  </h5>
                </div>
              </div>
              <div class="cell medium-4">
                <div class="sign-up">
                  <form action="/">
                    <label for="newsletter">Sign up for our newsletter</label>
                    <div class="sign-up--field">
                      <input
                        type="email"
                        placeholder="Email"
                        name="email"
                        aria-label="Email"
                      />
                      <input
                        type="submit"
                        id="submit"
                        class="form-submit button button--primary"
                        value="SUBMIT"
                      />
                    </div>
                  </form>
                </div>
              </div>
            </div>
            <div class="grid-x grid-margin-x" data-accordion="mobile">
              <div class="cell medium-8">
                <div class="grid-x grid-margin-x footer-items">
                  <div class="cell footer-item">
                    <button
                      type="button"
                      id="footer-item-1"
                      class="footer-heading desktop-event-none"
                      tabindex="0"
                      aria-controls="footer-panel-1"
                      aria-expanded="false"
                    >
                      Page Title
                    </button>
                    <div
                      id="footer-panel-1"
                      class="footer-panel desktop-visible"
                      aria-label="footer-item-1"
                      aria-hidden="false"
                      role="region"
                    >
                      <a href="#" title="Page title">Page title</a>
                      <a href="#" title="Page title">Page title</a>
                      <a href="#" title="Page title">Page title</a>
                      <a href="#" title="Page title">Page title</a>
                      <a href="#" title="Page title">Page title</a>
                    </div>
                  </div>
                  <div class="cell footer-item">
                    <button
                      type="button"
                      id="footer-item-2"
                      class="footer-heading desktop-event-none"
                      tabindex="0"
                      aria-controls="footer-panel-2"
                      aria-expanded="false"
                    >
                      Page Title
                    </button>
                    <div
                      id="footer-panel-2"
                      class="footer-panel desktop-visible"
                      aria-label="footer-item-2"
                      aria-hidden="false"
                      role="region"
                    >
                      <a href="#" title="Page title">Page title</a>
                      <a href="#" title="Page title">Page title</a>
                      <a href="#" title="Page title">Page title</a>
                      <a href="#" title="Page title">Page title</a>
                      <a href="#" title="Page title">Page title</a>
                    </div>
                  </div>
                  <div class="cell footer-item">
                    <button
                      type="button"
                      id="footer-item-3"
                      class="footer-heading desktop-event-none"
                      tabindex="0"
                      aria-controls="footer-panel-3"
                      aria-expanded="false"
                    >
                      Page Title
                    </button>
                    <div
                      id="footer-panel-3"
                      class="footer-panel desktop-visible"
                      aria-label="footer-item-3"
                      aria-hidden="false"
                      role="region"
                    >
                      <a href="#" title="Page title">Page title</a>
                      <a href="#" title="Page title">Page title</a>
                      <a href="#" title="Page title">Page title</a>
                      <a href="#" title="Page title">Page title</a>
                      <a href="#" title="Page title">Page title</a>
                    </div>
                  </div>
                  <div class="cell footer-item">
                    <button
                      type="button"
                      id="footer-item-4"
                      class="footer-heading desktop-event-none"
                      tabindex="0"
                      aria-controls="footer-panel-4"
                      aria-expanded="false"
                    >
                      Page Title
                    </button>
                    <div
                      id="footer-panel-4"
                      class="footer-panel desktop-visible"
                      aria-label="footer-item-4"
                      aria-hidden="false"
                      role="region"
                    >
                      <a href="#" title="Page title">Page title</a>
                      <a href="#" title="Page title">Page title</a>
                      <a href="#" title="Page title">Page title</a>
                      <a href="#" title="Page title">Page title</a>
                      <a href="#" title="Page title">Page title</a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="cell medium-4">
                <div class="icons-search">
                  <span class="icon-globe">
                    <img
                      src="https://design.undp.org/static/media/globe-white.67ccda02.svg"
                      alt="icon-global"
                    />
                  </span>
                  <span class="icon-search">
                    <img
                      src="https://design.undp.org/static/media/search-white.8cf9da1a.svg"
                      alt="icon-search"
                    />
                  </span>
                </div>
                <ul class="footer-links">
                  <li><a href="#">Report Fraud, Abuse, Misconduct</a></li>
                  <li>
                    <a href="#">Submit Social Or Environmental Complaint</a>
                  </li>
                  <li><a href="#">Scam Alert</a></li>
                  <li><a href="#">Terms Of Use</a></li>
                </ul>
                <ul class="footer-icons">
                  <li>
                    <a href="#" class="facebook" title="Facebook">facebook</a>
                  </li>
                  <li>
                    <a href="#" class="linkedin" title="LinkedIn">linkedIn</a>
                  </li>
                  <li>
                    <a href="#" class="instagram" title="Instagram">instagram</a>
                  </li>
                  <li><a href="#" class="twitter" title="Twitter">twitter</a></li>
                  <li><a href="#" class="youtube" title="Youtube">youtube</a></li>
                </ul>
              </div>
            </div>
            <div class="footer-copyright">
              <p tabindex="0">© 2024 United Nations Development Programme</p>
            </div>
          </div>
        </div>
      </footer>
    </div>
  </div>