<header class="country-header">
    <section class="header">
      <div class="grid-container fluid">
        <div class="grid-x grid-margin-x align-content-middle">
          <div class="cell small-8 large-2 shrink align-self-middle top-left">
            <a href="#" class="logo" tabindex="0" title="UNDP Logo homepage link">
              <img
                src="https://design.undp.org/static/media/undp-logo-blue.4f32e17f.svg"
                alt="UNDP Logo"
              />
            </a>
            <div class="site-title">
              <span><a href="/" title="UNDP homepage link">DPG Masterclass</a></span>
            </div>
          </div>
          <div class="cell small-1 large-auto align-content-middle top-center">
            <nav class="menu">
              <ul class="">
                <li data-menu-id="headerlink1">
                  <a href="#" tabindex="0">Who we are</a>
                </li>
                <li data-menu-id="headerlink2">
                  <a href="#" tabindex="0">What we do</a>
                </li>
                <li data-menu-id="headerlink3">
                  <a href="#" tabindex="0">Our Impact</a>
                </li>
                <li data-menu-id="headerlink4">
                  <a href="#" tabindex="0">Get Involved</a>
                </li>
              </ul>
            </nav>
          </div>
          <div class="cell small-3 large-auto top-right">
            <div class="dropdown-language">
              <button
                class="blue"
                aria-label="English, Select your language"
                aria-expanded="false"
              >
                English
              </button>
              <ul role="menu">
                <li role="menuitem">
                  <a href="#" lang="fr" hreflang="fr" tabindex="-1">Français</a>
                </li>
                <li role="menuitem">
                  <a href="#" lang="es" hreflang="es" tabindex="-1">Español</a>
                </li>
              </ul>
            </div>
            <button class="menu-hamburger" aria-label="menu-icon">
              <span class="hamburger-line line-top"></span>
              <span class="hamburger-line line-middle"></span>
              <span class="hamburger-line line-bottom"></span>
              Nav toggle
            </button>
            <button class="icon-globe">Global</button>
            <button class="icon-search">Search</button>
          </div>
          <div class="mobile-nav">
            <div class="grid-x">
              <div class="cell mobile-links">
                <ul>
                  <li>
                    <a class="cta__link cta--space" href="#" id="headerlink1">
                      Who we are
                    </a>
                  </li>
                  <li>
                    <a class="cta__link cta--space" href="#" id="headerlink2">
                      What we do
                    </a>
                  </li>
                  <li>
                    <a class="cta__link cta--space" href="#" id="headerlink3">
                      Our Impact
                    </a>
                  </li>
                  <li>
                    <a class="cta__link cta--space" href="#" id="headerlink4">
                      Get Involved
                    </a>
                  </li>
                </ul>
                <div class="mobile-nav-options">
                  <a href="#" class="mob-lang-switcher">
                    <img
                      src="https://design.undp.org/static/media/language.fa0c73b0.svg"
                      alt="icon-language"
                    />
                    English
                  </a>
                  <a href="#" class="mob-globe">
                    <img
                      src="https://design.undp.org/static/media/globe.0f48f7ec.svg"
                      alt="icon-global"
                    />
                    Locations
                  </a>
                </div>
              </div>
              <div class="cell mobile-sub-menu">
                <button class="back-nav">
                  <img src="https://design.undp.org/static/media/back.3007e38b.svg" alt="back button" />
                  Back
                </button>
                <div class="mobile-mega-wrapper">
                  <div class="mobile-mega-content">
                    <h6 class="sub-heading">Page Title</h6>
                    <ul class="sub-sub-menus">
                      <li>
                        <span>Page Title</span>
                        <ul>
                          <li><a href="#">Sub Page</a></li>
                        </ul>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="cell mob-sub-lang">
                <button class="back-nav">
                  <img src="static/media/back.3007e38b.svg" alt="back button" />
                  Back
                </button>
                <ul class="sub-sub-lang">
                  <li>
                    <span>Select Language</span>
                    <ul>
                      <li><a href="#">English</a></li>
                      <li><a href="#" class="">Français</a></li>
                      <li><a href="#" class="">Español</a></li>
                    </ul>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <div class="mega-wrapper">
      <div class="cell large-12 mega-nav-option" data-menu-item-id="headerlink2">
        <div class="grid-x">
          <div class="cell large-3">
            <ul class="submenu">
              <li id="submenu1-headerlink1" class="active">
                <a href="#" class="sub-link">Page Title</a>
              </li>
              <li id="submenu2-headerlink1" class="">
                <a href="#" class="sub-link">Page Title</a>
              </li>
              <li id="submenu3-headerlink1" class="">
                <a href="#" class="sub-link">Page Title</a>
              </li>
              <li id="submenu4-headerlink1" class="">
                <a href="#" class="sub-link">Page Title</a>
              </li>
            </ul>
          </div>
          <div class="cell large-9">
            <div
              class="grid-x sub-menu-content"
              data-submenu-id="submenu2-headerlink1"
            >
              <div class="cell mega-sub-description large-6">
                <h3 class="mega-title">Page Title</h3>
                <p class="mega-description">
                  Ea rem numquam ad odit. Consequatur numquam harum nemo quisquam
                  dolores harum itaque omnis qui. Veniam a quisquam distinctio
                  repellendus. Vel sapiente omnis alias eos corrupti.
                </p>
                <div class="sub-sub-menu">
                  <ul class="list-col-first">
                    <li>
                      <a class="cta__link cta--arrow" href="#">
                        Sub Page
                        <i></i>
                      </a>
                    </li>
                  </ul>
                  <ul class="list-col-second">
                    <li>
                      <a class="cta__link cta--arrow" href="#">
                        Sub Page
                        <i></i>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="cell large-6 mega-image">
                <picture>
                  <source
                    media="(min-width:1024px)"
                    srcset="https://design.undp.org/static/media/Mongolia-cashmere-goats.a23bfaf3.jpg"
                  />
                  <source
                    media="(min-width:767px)"
                    srcset="https://design.undp.org/static/media/Mongolia-cashmere-goats-md.e9b766c9.jpg"
                  />
                  <img
                    src="https://design.undp.org/static/media/Mongolia-cashmere-goats-sm.39473e77.jpg"
                    alt="Undp Image"
                  />
                </picture>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>
  