<div style="background-color: #ffe17e; text-align: center">
  <small
    >This website is primarily designed for the Digital Public Goods (DPG)
    Masterclass and serves as a platform for hands-on experience with GitHub for
    the participants of the masterclass. The content, activities, and resources
    found on this website are tailored to this purpose. While others may find
    the information on this site useful, please note that it is intended
    specifically for the use and benefit of the DPG Masterclass
    participants.</small
  >
</div>
<div class="project-page-hero">
  <div class="pagehero-full">
    <div class="overlay-grey">
      <img src="https://design.undp.org/static/media/garden.76c5aaa4.jpg" />
    </div>
    <div class="pagehero-content medium-offset-1">
      <div class="content-box color-white">
        <h2 class="inviewport" tabindex="0" data-viewport="true">
          Digital Public Good (DPG) Masterclass:
          <br />
          Hands-on experience
        </h2>
      </div>
    </div>
  </div>
</div>
